@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.invalid-feedback {
    color: #ff7782;
}

.btn {
    display: inline-block;
    padding: 1.1rem 2.2rem;
    color: #fff;
    border-radius: 1.8rem;
    text-transform: capitalize;
    border: none;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    font-size: 0.95rem;
    transition: 0.3s;
}
  
.btn-primary {
    /* background-image: linear-gradient(to right, #00d2ff 0%, #5c95e6  51%, #00d2ff  100%); */
    background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED  51%, #56CCF2  100%);
    /* margin: 10px; */
    /* padding: 15px 45px; */
    /* text-align: center; */
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    /* border-radius: 10px; */
    /* display: block; */
}
.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    padding: 1rem 2.1rem;
    /* width: 130px; */
    /* height: 41px; */
    /* font-weight: 600; */
    /* font-size: 0.8rem; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    transition: all 300ms ease;
}

.btn-transparent:hover {
    background: #fff;
    color: #7d8da1;
}  



.icon {
    width: 23px;
    height: 23px;
}

.alert {
    display: flex;
    min-width: 35%;
    padding: 2rem 3rem;
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    border-radius: 1.05rem;
    /* border: 2px solid #0ebe83; */
    position: absolute;
    top: 10%;
    right: 2%;
    z-index: 15;
    opacity: 0.85;
    /* color: #1a806d; */
    font-weight: 700;
    font-size: 15px;
    backdrop-filter: blur(2rem);
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.3);
    animation: hideAlert 500ms ease-in-out 5s forwards;
}

.alert {
    background: #bcd8f9;
    border: 2px solid #347bf6;
    color: #347bf6;
}

.alert.success {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border: 2px solid #0ebe83;
    color: #1a806d;
}

.alert.danger {
    background: #e7acb1;
    /* background: linear-gradient(135deg, #DD1A4C, #E84E80); */
    border: 2px solid #bc1640;
    color: #bc1640;
}

.alert svg {
    margin-right: 1rem;
}

.alert svg path {
    fill: #347bf6;
}

.alert.success svg path {
    fill: #1a806d;
}

.alert.danger svg path {
    fill: #bc1640;
}

@keyframes hideAlert {
    0% {
        right: 2%;
        opacity: 1;
    }
    80% {
        right: -200%;
        opacity: 0.7;
    }
    100% {
        right: -250%;
        opacity: 0;
    }
}

/* Wave*/
#forms-wave {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#forms-wave:before {
    content: "";
    position: absolute;
    height: 200%;
    width: 220vh;
    top: 0%;
    right: 48%;
    transform: translateY(-50%);
    /* background-image: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    /* background: transparent; */
    /* background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%); */

    background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED  51%, #56CCF2  100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 3;
} 

#forms-wave.register:before {
    transform: translate(100%, -50%);
    right: 52%;
} 

/* Form */
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100%;
}

.form-container form,
.form-container .form-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container .form-panel {
    z-index: 6;
    color: #fff;
}

.form-container .form-panel .form-panel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container .form-panel img {
    width: 33rem;
    margin-top: 12vh;
    z-index: 4;
}

.form-container .form-panel h3 {
    margin-bottom: 2rem;
}

.form-container .form-panel p {
    margin-bottom: 2rem;
    max-width: 70%;
}

.form-container .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field svg {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.input-field.user svg {
    scale: 0.5;
} 

.input-field.email svg {
    scale: 0.4;
}

.input-field.password svg {
    scale: 0.44;
}

.input-field svg path {
    fill: #acacac;
}

.form-container .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 0 50px 50px 0;
    color: #333;
}

/* .form-container .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
} */



@media (max-width: 950px){
    #forms-wave:before {
        top: -55%;
        right: -36%;
    }
    #forms-wave.register:before {
        top: -58%;
        right: 144%;
    } 
    /* .form-container {
        
    } */
    #forms-wave.login .form-container {
        grid-template-columns: repeat(1, 1fr);
        align-items: baseline;
        margin-top: 4vh;
    }
    #forms-wave.register .form-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .form-container .form-panel {
        flex-direction: row;
    }
    .form-container .form-panel img {
        width: 20rem;
        margin-top: 0;
    }
} 

@media (max-width: 650px){
    .form-container .form-panel img {
        display: none;
    }
    #forms-wave.login:before {
        top: -61%;
        right: -85%;
    }
    #forms-wave.register:before {
        top: -66%;
        right: 217%;
    } 

    #forms-wave.register .form-container {
        justify-content: space-around;
    }
    .title {
        font-size: 2rem;
    }
    
}

@media (max-width: 400px){
    #forms-wave.login:before {
        top: -56%;
        right: -97%;
    }
    .form-container .input-field {
        width: 90%;
    }
    #forms-wave.register:before {
        top: -60%;
        right: 219%;
    } 
}