@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.invalid-feedback {
    color: #ff7782;
}

.btn {
    width: 150px;
    background-color: #347bf6;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #4d84e2;
  }

  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
  }
  
  .btn.transparent:hover {
      background-color: #fff;
      color: #7d8da1;
  }  
/* Wave*/
#forms-wave {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#forms-wave:before {
    content: "";
    position: absolute;
    height: 200%;
    width: 220vh;
    top: 0%;
    right: 48%;
    transform: translateY(-50%);
    /* background-image: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    /* background: transparent; */
    background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 3;
} 

#forms-wave.register:before {
    transform: translate(100%, -50%);
    right: 52%;
} 

/* Form */
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100%;
}

.form-container form,
.form-container .form-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container .form-panel {
    z-index: 6;
    color: #fff;
}

.form-container .form-panel .form-panel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container .form-panel img {
    width: 33rem;
    margin-top: 12vh;
    z-index: 4;
}

.form-container .form-panel h3 {
    margin-bottom: 2rem;
}

.form-container .form-panel p {
    margin-bottom: 2rem;
    max-width: 70%;
}

.form-container .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field svg {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.input-field.user svg {
    scale: 0.5;
} 

.input-field.email svg {
    scale: 0.4;
}

.input-field.password svg {
    scale: 0.44;
}

.input-field svg path {
    fill: #acacac;
}

.form-container .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

/* .form-container .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
} */



@media (max-width: 950px){
    #forms-wave:before {
        top: -55%;
        right: -36%;
    }
    .form-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .form-container .form-panel {
        flex-direction: row;
    }
    .form-container .form-panel img {
        width: 20rem;
        margin-top: 0;
    }
} 

@media (max-width: 650px){
    .form-container .form-panel img {
        display: none;
    }
    #forms-wave:before {
        top: -61%;
        right: -85%;
    }
}