{% extends "layout.html" %}

{% block content %}
    <h1>Messages</h1>
    <article class="article article-add">
        <!-- <span class="material-symbols-sharp">add</span> -->
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>plus</title><path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg>
        <h3>Add New Article</h3>
    </article>

    <article class="article glass">
        <div class="article-head">
            <img src="images/profile-2.jpg" alt="" />
            <div class="article-metadata">
                <a href="#"><b>Malia Alla</b></a> <br />
                <small class="text-muted">11.04. 2023</small>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="heart" viewBox="0 0 24 24">
                <path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
        </div>
        <h2><a href="#">Some title</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptate, ex repellat natus beatae nobis! Dolore, architecto. Asperiores et placeat odio labore iste quo voluptatem odit. Hic eaque excepturi reiciendis possimus illo! Saepe accusamus nobis commodi facere, sequi provident. Voluptas nisi deserunt nobis reiciendis sed aspernatur repellendus eum accusantium magni.</p>
    </article>

    <article class="article glass">
        <div class="article-head">
            <img src="images/profile-3.jpg" alt="" />
            <div class="article-metadata">
                <a href="#"><b>Malia Alla</b></a> <br />
                <small class="text-muted">11.04. 2023</small>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="heart" viewBox="0 0 24 24">
                <path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
        </div>
        <h2><a href="#">Some title</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptate, ex repellat natus beatae nobis! Dolore, architecto. Asperiores et placeat odio labore iste quo voluptatem odit. Hic eaque excepturi reiciendis possimus illo! Saepe accusamus nobis commodi facere, sequi provident. Voluptas nisi deserunt nobis reiciendis sed aspernatur repellendus eum accusantium magni.</p>
    </article>

    <article class="article glass">
        <div class="article-head">
            <img src="images/profile-4.jpg" alt="" />
            <div class="article-metadata">
                <a href="#"><b>Malia Alla</b></a> <br />
                <small class="text-muted">11.04. 2023</small>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="heart" viewBox="0 0 24 24">
                <path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
        </div>
        <h2><a href="#">Some title</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptate, ex repellat natus beatae nobis! Dolore, architecto. Asperiores et placeat odio labore iste quo voluptatem odit. Hic eaque excepturi reiciendis possimus illo! Saepe accusamus nobis commodi facere, sequi provident. Voluptas nisi deserunt nobis reiciendis sed aspernatur repellendus eum accusantium magni.</p>
    </article>
{% endblock content %}