<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page With Light/Dark Mode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <main>
    <div class="welcome-page-wrapper light">
        <div class="shape"></div>
        <div class="circle"></div>

        <header>
            <div class="welcome-page-container">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" />
                    <h3>Weather <span class="primary">Web</span></h3>
                </div>

                <div class="links">
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="{{ url_for('users.login') }}" class="btn btn-primary">Sign in</a></li>
                </ul>
                </div>

                <div class="hamburger-menu">
                    <div class="bar"></div>
                </div>
            </div>
        </header>

        <div class="welcome-main-area">
        <div class="welcome-page-container">
            <div class="left glass">
            <div class="big-title">
                <h1>Future is here,</h1>
                <h1>Start Exploring now.</h1>
            </div>
            <p class="text">
                Embrace the limitless possibilities of today and venture into the extraordinary. Seize the opportunity to understand the present and forecast the future. Start your adventure now and let the future unfold before your eyes.
            </p>
            <div class="cta">
                <a href="{{ url_for('users.register') }}" class="btn btn-primary">Get started</a>
            </div>
            </div>

            <div class="right">
            <img src="{{ url_for('static', filename='images/my_dashboard.jpg')}} " alt="" class="main-photo" />
            </div>
        </div>
        </div>

        <div class="bottom-area">
            <button class="toggle-btn">
            <i class="far fa-moon"></i>
            <i class="far fa-sun"></i>
            </button>
        </div>
    </div>
    </main>

    <!-- Own JavaScript Files -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
