{% extends "layout.html" %}

{% block content %}
    <h1>All Users </h1>
    <p>{{ users.id }}</p>
        <section class="main-table">
            <table class="glass">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Posts</th>
                        <th>Profile photo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td class="warning">{{ user.posts | length }}</td>
                            <td class="primary">{{ user.image_file }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <a href="#">Show All</a> -->
        </section>


    <h1>Database</h1>
    <!-- <p>{{ users.id }}</p> -->
        <section class="main-table">
            <table class="glass">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Values</th>
                        <th>Device</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                        <tr>
                            <td>{{ d.date }}</td>
                            <td>{{ d.values }}</td>
                            <td class="warning">{{ d.device }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <a href="#">Show All</a> -->
        </section>
{% endblock content %}