{% extends "layout.html" %}

{% block content %}
    <h1>Messages</h1>
    <a href="{{ url_for('create_post') }}">
        <article class="article article-add">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>plus</title><path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg>
            <h3>Add New Article</h3>
        </article>
    </a>


    {% for post in posts %}
        <article class="article glass">
            <div class="article-head">
                <img class="profile-photo" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file ) }}" alt="" />
                <div class="article-metadata">
                    <a href="#"><b>{{ post.author.username }}</b></a> <br />
                    <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="heart" viewBox="0 0 24 24">
                    <path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                </svg>
            </div>
            <h2><a href="{{ url_for('specific_post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p>{{ post.content }}</p>
        </article>
    {% endfor %}


{% endblock content %}